body{
	  /*background-image: url("yearupbackground.jpg");*/
	background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
	margin: 0;
  font-family: Arial, Helvetica, sans-serif;
   
}
button {
  width: 100px;
  height: 30px;
  border: 3px soldi white;
  border-radius: 50px;
  background: #202020;
  color: white;
  cursor: pointer;
  outline: none;
}

#stopwatch {
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}
#buttons {
  position: relative;

}
#buttons li {
  display: inline;
  padding-left: 10px;
}

#start{
  background-color: #4CAF50;
}
#stop{
  background-color: #ff0000;
}
#reset{
  background-color: #4169e1;
}
#nav{
  position: sticky;
  top: 0;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.content {
  text-align: center;
  position: relative;
  top: %;
  left: 50%;
  transform: translate(-50%, 0%);
  color: white;
  background-color:rgba(0,0,0,0.5);
  width:50%;
border-radius: 10px;
}

